// base for common button
%btn-base {
    outline: none;
    border-width: 1px;
    min-width: 75px;
    padding: 2px 6px;
}

// The base for the button on title bar
@mixin control-btn-base($height) {
    @content;
    height: $height;

    padding: 0;
    border: none;
    outline: none;
    transition: .3s
}

// $btn-label will have a aria-label value
@mixin control-btn-type($btn-label) {

    button[aria-label=#{$btn-label}] {
        @include control-btn-base(29px);
        min-width: 45px;
        background-size: 45px 29px !important;
        @content;
    }
}