button {
    @extend %btn-base;
    font-family: 'Arial', sans-serif;
    font-size: 12px;
    border-style: solid;
    border-color: $btn-border-col;
    background: $btn-col;
    transition: $btn-trasision;
    
    &:hover {
        border-color: $btn-border-col-highlight;
        background: $btn-mouseHover-col;
    }

    &:active {
        background: $btn-border-col-active;
    }

    &:disabled {
        border-color: $btn-border-col-disable;
        background: $btn-disable-col;
    }

    .highlight {
        outline: 1px $btn-border-col-highlight;
        border-width: 2px;
        border-color: $btn-border-col-highlight;
    }

    .focused {
        border-width: 2px;
        border-color: $btn-border-col-highlight;
        outline: 1px dashed #000;
        outline-offset: -2.5px;
    }
}