.title-bar {
    background: $base-col-light-1;
    border: 1px solid $window-border-col;
    display: flex;
    justify-content: space-between;
    align-items: center;
    
    &-text {
        margin: 0;
        padding: 7px;
        font-family: Arial, sans-serif;
        font-size: 15px;
        font-weight: normal;
    }

    &-controls {
        display: flex;
        flex-direction: row-reverse;

        @include control-btn-type("Close") {
            @include control-btn-style("Close", "red-col", "red-col");
        }

        @include control-btn-type("Maximize") {
            @include control-btn-style("Maximize", "white-col", "white-col");
        }

        @include control-btn-type("Minimize") {
            @include control-btn-style("Minimize", "white-col", "white-col");
        }

        @include control-btn-type("Restore") {
            @include control-btn-style("Restore", "white-col", "white-col");
        }
    }
}