.title-bar {
    background: $base-col-light-1;
    border: 1px solid $window-border-col;
    display: flex;
    justify-content: space-between;
    align-items: center;
    
    &-text {
        margin: 0;
        padding: 7px;
        font-family: Arial, sans-serif;
        font-size: 15px;
        font-weight: normal;
    }

    &-controls {
        display: flex;
        flex-direction: row-reverse;

        // Close btn
        @include control-btn-type("Close") {
            background: map.get($btn-control-col-test, "all");
            
            &:hover {
                background: map.get($btn-control-col-test, "hover", "red-col");
            }

            &:active {
                background: map.get($btn-control-col-test, "active", "red-col");
                -webkit-transition: none;
            }
        }

        // Maximize btn
        @include control-btn-type("Maximize") {
            background: map.get($btn-control-col-test, "all");
            
            &:hover {
                background: map.get($btn-control-col-test, "hover", "white-col");
            }

            &:active {
                background: map.get($btn-control-col-test, "active", "white-col");
                -webkit-transition: none;
            }
        }

        // Minimize btn
        @include control-btn-type("Minimize") {
            background: map.get($btn-control-col-test, "all");
            
            &:hover {
                background: map.get($btn-control-col-test, "hover", "white-col");
            }

            &:active {
                background: map.get($btn-control-col-test, "active", "white-col");
                -webkit-transition: none;
            }
        }

        // Restore btn
        @include control-btn-type("Restore") {
            background: map.get($btn-control-col-test, "all");
            
            &:hover {
                background: map.get($btn-control-col-test, "hover", "white-col");
            }

            &:active {
                background: map.get($btn-control-col-test, "active", "white-col");
                -webkit-transition: none;
            }
        }
    }
}