$btn-col: #e1e1e1;
$btn-mouseHover-col: #e5f1fb;
$btn-disable-col: #ccc;
$btn-border-col: #adadad;
$btn-border-col-highlight: #0078d7;
$btn-border-col-disable: #bfbfbf;
$btn-border-col-active: #cce4f7;
$btn-trasision: .7s;

$window-border-col: #707070;
$window-outline: #f0f0f0;

// temp
$btn-control-col-test: (
    "all": #fff,

    "hover": (
        "red-col": #e81123,
        "white-col": #e5e5e5
    ),

    "active": (
        "red-col": #f1707a,
        "white-col": #cacacb
    ),
);

// base for common button
%btn-base {
    outline: none;
    border-width: 1px;
    min-width: 75px;
    padding: 2px 6px;
}

// The base for the button on title bar
@mixin control-btn-base($height) {
    @content;
    height: $height;

    padding: 0;
    border: none;
    outline: none;
    transition: .3s
}

// $btn-label will have a aria-label value
@mixin control-btn-type($btn-label) {

    button[aria-label=#{$btn-label}] {
        @include control-btn-base(29px);
        min-width: 45px;
        @content;
    }
}

// style for control button
@mixin control-btn-style($type, $hover-col, $active-col) {
    background: map.get($btn-control-col-test, "all");

    &:hover {
        background: map.get($btn-control-col-test, "hover", $hover-col);        
    }

    &:active {
        background: map.get($btn-control-col-test, "active", $active-col);            
        transition: none;
    }
};