$btn-col: #e1e1e1;
$btn-mouseHover-col: #e5f1fb;
$btn-disable-col: #ccc;
$btn-border-col: #adadad;
$btn-border-col-highlight: #0078d7;
$btn-border-col-disable: #bfbfbf;
$btn-border-col-active: #cce4f7;
$btn-trasision: .7s;

$window-border-col: #707070;
$window-outline: #f0f0f0;

$btn-control-col: (
    "all": #fff,

    "hover": (
        "close": #e81123,
        "normal": #e5e5e5
    ),

    "active": (
        "close": #f1707a,
        "normal": #cacacb
    ),
);

@debug $btn-control-col;

// base for common button
%btn-base {
    outline: none;
    border-width: 1px;
    min-width: 75px;
    padding: 2px 6px;
}

// The base for the button on title bar
@mixin control-btn-base($width, $height) {
    @content;
    width: $width;
    height: $height;

    padding: 0;
    border: none;
    outline: none;

    // @debug "width: #{width} ; $height: #{$height}";
}

// $btn-label will have a aria-label value
@mixin control-btn-type($btn-label) {

    button[aria-label=#{$btn-label}] {
        @include control-btn-base(50px, 50px);
        @content;
    }

    // @debug "$btn-label: #{$btn-label}";
}