// | -- | Base | -- |

$btn-col: #e1e1e1;
$btn-mouseHover-col: #e5f1fb;
$btn-disable-col: #ccc;
$btn-border-col: #adadad;
$btn-border-col-highlight: #0078d7;
$btn-border-col-disable: #bfbfbf;
$btn-border-col-active: #cce4f7;
$btn-trasision: .7s;

$window-border-col: #707070;
$window-outline: #f0f0f0;

%btn-base {
    outline: none;
    border-width: 1px;
    min-width: 75px;
    padding: 2px 6px;
}