// | -- | Variables | -- |

// == Button classic ==
$btn-col: #e1e1e1;
$btn-border-col: #adadad;
$btn-col-mouseHover: #e5f1fb;
$btn-border-col-active: #0078d7;
$btn-col-disable: #ccc;
$btn-border-col-disable: #bfbfbf;
$btn-trasision: .7s;

// == Background window classic ==
$window-content: #fff;
$window-border-col: #d9d9d9;
$window-outline: #f0f0f0;
